.hotButton {
  position: absolute;
  z-index: 100;
  top: 8px;
  left: 8px;
  background: grey;
  color: whitesmoke;
  border-radius: 4px;
  padding: 3px 12px;
  font-size: 1.4rem;
  font-weight: bold;
}

.hot {
  background: #e80909;
  color: whitesmoke;

}